    body {
    /* margin: 1em;*/
      font: 11px/15px Palatino, serif;
    }
    /*
    body:after {
      font-style: italic;
      font-size: 12px;
      content: "Cover letter and resume hand-crafted with HTML, CSS, and <3";
    }*/
    .section {
     margin: .75em 0;
     margin-bottom: 1em;
    }
    h1  {
      padding-top: 0.25em;
      margin-bottom:0.5em;
   }
    h2 {
      margin-bottom:0.25em;
      padding-top: 0.25em;
    }
    h3 {      
      margin-top:.25em;
      margin: 0.25em 0;
    }
    h4 {
      margin: 0.5em 0;
    }

    dl {
      position: relative;
      margin: 0.25em;
    }
    dt {
      position: absolute;
      left: -9999px;
    }
    dd {
      margin: 0;
    }
    dd.city,
    dd.state,
    dd.zip-code {
      display: inline;
    }
    dd.street-address:after,
    dd.city:after {
      content: ",";
    }
    dd.phone,
    dd.email {
      position: absolute;
      left: 33.33%;
    }
    dd.github,
    dd.linkedin {
      position: absolute;
      left: 66.67%;
    }
    dd.phone,
    dd.github {
      top: 0;
    }
    dd.email,
    dd.linkedin {
      bottom: 0;
    }
    dd.phone span:first-child:before {
      content: "(";
    }
    dd.phone span:first-child:after {
      content: ") ";
    }
    dd.phone span:last-child:before {
      content: "-";
    }
    dd.qualification,
    dd.role {
      font-weight: bold;
    }
    dd.organization {
      display: inline;
      font-style: italic;
    }
    dd.period {
      position: absolute;
      right: 0;
      top: 0;
    }
    dd.location {
      display: inline;
    }
    dd.location:before {
      content: "\2013\00A0";
    }
    ul {
      margin-top: .25em;
      margin-bottom: 1em;
      padding: 0 0 0 1.5em;
    }
    ul.columnar {
      overflow: auto;
      margin-top: 0.25em;
      margin-bottom:0.25em;
    }
    ul.columnar > li {
      float: left;
    }
    ul.columnar[data-columns="2"] > li {
      width: 50%;
    }
    ul.columnar[data-columns="3"] > li {
      width: 33.33%;
    }
    p {
    margin-top:0;
    margin-bottom:.25em;
    }
    #greeting {
      margin-top: 20px;
    }
    /* "print" styles */
    a {
      color: inherit;
      text-decoration: none;
    }
    h4 a:after {
      content: " [" attr(href) "]";
    }

