body { 
	background: black;
	font-family: , "helvetica";
	color: white;
	}

p {
	font-family: inherit;
	color: inherit; 
	font: italic
	}

h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
	color: inherit;
	font-weight: bold
	font-size: medium;
}

.redboldtext{
	color: red;
	font-weight: bold;
	}

#html {font-style: italic;
	}
